.container section.places h1 {
  font-size: 30px;
  padding-inline: 10px;
  margin: 25px 0 0 10px;
}
.listing_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.listing_wrapper article {
  width: 390px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.listing_wrapper article h2 {
  font-size: 30px;
  margin: 0;
}
